/*************************************************************
SPRITES
to include the file "the-man.png": .sprite(@the-man);
*/

/*************************************************************
MEDIA-QUERIES

SIZE XS AND UP
@media all and (min-width: @screen-xs) {}

SIZE SM AND UP
@media all and (min-width: @screen-sm) {}

SIZE MD AND UP
@media all and (min-width: @screen-md) {}

SIZE LG AND UP
@media all and (min-width: @screen-lg) {}

-----

SIZE LG AND DOWN
@media all and (max-width: @screen-lg) {}

SIZE MD AND DOWN
@media all and (max-width: @screen-md) {}

SIZE SM AND DOWN
@media all and (max-width: @screen-sm) {}

SIZE XS AND DOWN
@media all and (max-width: @screen-xs) {}

-----

SIZE XS ONLY
@media all and (max-width: @screen-xs-max) {}

SIZE SM ONLY
@media all and (min-width: @screen-sm and (max-device-width: @screen-sm-max) ) {}

SIZE MD ONLY
@media all and (min-width: @screen-md and (max-device-width: @screen-md-max) ) {}

SIZE LG ONLY
@media all and (min-width: @screen-lg) ) {}


*/

/* CUSTOM COLORS */
@color-blue: blue;
@color-green: green;
@color-lightgray: lightgray;
@color-darkgray: darkgray;

/* CUSTOM FONTS */
@font-light: 'FrutigerLTW01-45Light', sans-serif;
@font-medium: 'FrutigerLTW02-55Roman', sans-serif;
@font-bold: 'Frutiger LT W01_65 Bold', sans-serif;

/* HTML TAGS */
body {
  color: @color-darkgray;
  font-family: @font-light;
}





/*************************************************************
HELPER CLASSES (potential mixins)
*/

// set "centered" background-image in element
.img-centered {
  background-size: cover;
  background-position: center center;
}





/*************************************************************
MODULES
*/
//modul site: default layout elements like header, footer
.site {

  //.site-header
  &-header {

    //bootstrap navbar
    .navbar {
      @media all and (min-width: @screen-sm) {
        bottom: 15px;
        left: 200px;
        margin: 0;
        height: 0;
        position: relative;
      }
      background-color: transparent;
      border: none;
    }

    //id-"shortcut" with higher specificity to outsmart bootstrap inheritance
    #menu-primary-menu {
      a {
        font-family: @font-bold;
        font-size: 14px;
        text-transform: uppercase;
        padding: 1em;
      }
    }
  }

  //.site-content
  &-content {
  }

  //.site-footer
  &-footer {
  }
}





/*************************************************************
OTHER STYLES
*/


